.inputTextArea, .outputVBox{
    -fx-background-color: #ffffff;
    -fx-font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    -fx-border-radius: 0;
}

.lineIndicatorVBox{
    -fx-background-color: white;
}